<footer class="white-section" id="footer">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h4>Kontaktai</h4>
          <p>Vilnius</p>
          <p>Telephone: +3705015417</p>
          <p>raivydas.ceslauskas@stud.vgtu.lt</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <a href="https://www.facebook.com/"> <i class="social-icon fab fa-facebook-f"></i></a>
          <a href="https://www.twitter.com/"> <i class="social-icon fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/"> <i class="social-icon fab fa-instagram"></i></a>
          <a href="https://www.gmail.com/"> <i class="social-icon fas fa-envelope"></i></a>
          <p>© Copyright 2020 Bidit Raivydas</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <ul>
            <li><a href="/support/help" class="btn custom-button btn-lg btn-block">Pagalba</a></li>
            <li><a href="/support/faq" class="btn custom-button btn-lg btn-block">Dažniausi klausimai</a></li>
            <li><a href="/support/about" class="btn custom-button btn-lg btn-block">Apie mus</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
