<div class="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand ml-3" href="/">bidit</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav ml-auto">
          <% if(isAuthenticated) { %>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Kontaktai</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/logout">Atsijungti</a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Mano profilis </a>
            <div class="dropdown-menu">
              <a href="/users/my-list" class="dropdown-item">Mėgstami</a>
              <a href="/products/add/add-product" class="dropdown-item">Pridėti produktą</a>
              <a href="/users/my-items" class="dropdown-item">Mano produktai</a>
              <a href="/users/edit" class="dropdown-item">Redaguoti profilį</a>
              <a href="/users/winList" class="dropdown-item">Laimėjimai</a>
            </div>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="#footer">Kontaktai</a>
          </li>
          <li class="nav-item">
            <a href="/users/login" class="btn btn-dark btn-lg btn-login">Prisijungti!</a>
          </li>
          <%  } %>
        </ul>
      </div>
  </nav>
</div>
