
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;900&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/homeStyles.css">
  <link rel="stylesheet" href="/css/pages.css">
  <meta charset="utf-8">
  <title>Bidit</title>

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>
<body>
  <%- include ("./partials/header") -%>

  <div class="container" style="text-align: center;">
    <h2>About Us!</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum molestie odio in gravida. Pellentesque vel dui mollis, facilisis justo id, finibus lorem. Vestibulum nibh augue, rhoncus vel ultrices sed, faucibus id ex. Nam consequat consequat enim, sed fringilla odio aliquet eget. Fusce non dolor vitae augue fringilla ultricies ut vel mi. Nunc vel libero bibendum, dictum tortor vitae, fringilla tellus. Proin ut vehicula mauris. Etiam suscipit leo sit amet pharetra imperdiet.

Nulla in consectetur enim, a feugiat enim. Vestibulum egestas laoreet placerat. Donec gravida, purus ut pharetra finibus, tortor nulla lacinia arcu, vitae feugiat velit augue eget lorem. Mauris et magna blandit, sollicitudin metus id, cursus felis. Aliquam pharetra posuere rhoncus. Suspendisse commodo leo ligula, nec rhoncus libero vestibulum ac. In pulvinar commodo neque, eget ultrices libero pharetra ac. Phasellus ultricies congue sapien ac pulvinar. Nullam commodo elementum molestie. Sed egestas sodales mauris eu fermentum. Integer vel interdum justo. Vestibulum sed nisi sed est fermentum pharetra non in nulla. Integer non felis quis lorem eleifend dapibus vitae non diam. Sed ipsum sapien, mattis vitae porta sit amet, commodo nec lacus.

Aliquam at sapien in urna venenatis lobortis et id justo. Vivamus id iaculis turpis. Integer gravida laoreet egestas. In dapibus iaculis egestas. Nullam tincidunt pretium orci at cursus. Praesent ut tempus sapien. Suspendisse venenatis arcu mollis lacus eleifend, quis imperdiet est condimentum.

Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam elementum arcu in faucibus placerat. Nullam venenatis venenatis placerat. Aenean nec nisl aliquam, aliquam metus sit amet, dapibus velit. Sed tempus quam sem. Aenean ut nulla scelerisque, eleifend sem eget, rutrum sem. Nam elit ipsum, sollicitudin non congue quis, porttitor id ex. Vivamus tellus dui, tristique quis metus pellentesque, sodales maximus turpis. Suspendisse venenatis vulputate iaculis. In auctor tortor nec tempor eleifend. Suspendisse at rhoncus massa. Quisque porta ullamcorper mauris vel rutrum. Sed mattis facilisis ligula ut pulvinar. Mauris tempus ullamcorper feugiat.

Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed eget consectetur odio, id egestas mauris. Nullam in arcu in dolor porta sagittis. Nullam sem arcu, auctor ut placerat ac, aliquet sit amet arcu. Morbi mi sem, eleifend nec placerat in, facilisis eu lacus. Sed cursus faucibus sodales. Maecenas luctus ac elit non sodales. Sed fermentum, felis ac hendrerit iaculis, enim urna feugiat ex, in interdum tellus urna sed nisi. In hac habitasse platea dictumst. Nullam a mauris quis metus dapibus molestie. Vivamus diam mauris, lobortis et ultricies eu, dapibus nec sapien. Maecenas mi orci, tempor eu placerat eget, rutrum vel arcu. Fusce auctor, purus at imperdiet varius, mi tortor volutpat sapien, non ultricies mi est et orci. Maecenas non eros a ex ullamcorper varius vitae et diam.</p>
  </div>

  <%- include ("./partials/footer") -%>
</body>
