body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}

a {
  text-decoration: none;
}

.logo {
  margin: 15px 20px 0 0;
}

#title {
  background-image: url('../images/repetitive.jpg');
  background-size: cover;
  text-align: center;
  background-color: #000;
  opacity: 0.8;
  padding-bottom: 3%;
}


#title h1 {
  color: #ffffff;
  background-color: #000000;
  opacity: 0.9;
  margin-top: 3%;
}

.container-fluid {
  padding: 0;
}

.description {
  word-wrap: break-word;
}

.navbar {
  background-image: url("/../images/backgroundPages.jpg");
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu",sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light", sans-serif;
}

.btn-login {
  margin: 3% 0;
}

#items {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: url("/../images/backgroundPages.jpg");
}

#footer {
  background-color: #fff;
  text-align: center;
  padding-top: 3%;

}

#footer ul {
  list-style-type: none;
}
#footer a {
  padding: 0 18px;
  text-decoration: none;
  color: black;
}
.social-icon {
  margin: 20px 10px;
}


/* Product grid */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(67, 68 ,69 , 0.7);
}
.detail {
  color: #fff;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.product-grid {
  padding-bottom: 20px;
  padding-top: 20px;
}
.product-grid:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image {
  position: relative;
}

/* Product details */

.info {
  font-size: 20px;
}

.price {
  font-size: 30px;
}
