
body {

  color: black;
  font-weight: 500;
  background-image: url("/../images/registerBackground.jpg");
  background-color: rgba(255,255,255,0.2);
  background-blend-mode: lighten;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

.systemName,
.systemName:hover{
  text-decoration: none;
  color: black;
  font-size: 100px;
  font-family: "Ubuntu",sans-serif;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-control:focus {
  z-index: 2;
}
